SUBSYSTEM=="usb", ATTR{idVendor}=="23e5", ATTR{idProduct}=="a015", MODE="0666"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="23e5", ATTRS{idProduct}=="a015", MODE="0666"
